<div class="panel" ng-class="svCtrl.visit.accepted ? 'panel-success':'panel-info'" ng-if="svCtrl.visit">
    <div class="panel-heading click-able-heading" ng-click="svCtrl.editVisit()">
        <span class="h3" ng-bind="svCtrl.visit.visitTime"></span>
        <i title="Edytuj" class="fa fa-pencil-square-o fa-2x edit-icon" ng-if="!svCtrl.editingVisit"></i>
    </div>
    <div class="panel-body">
        <div ng-if="!svCtrl.editingVisit">
            <div class="row">
                <div class="col-md-10">
                    <strong>tel. </strong>
                    <span class="h4" ng-bind="svCtrl.visit.patient.phoneNumbers[0]"></span>
                    <span ng-show="!svCtrl.visit.patient.phoneNumbers[0]">Brak</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>Opis:</strong>
                </div>
                <div class="col-md-12">
                    <span ng-show="!svCtrl.visit.description">Brak</span>
                    <span ng-bind="svCtrl.visit.description"></span>
                </div>
            </div>
        </div>
        <div ng-if="svCtrl.editingVisit">
            <form name="details" ng-submit="details.$valid && svCtrl.updateVisit()">
                <div class="form-group">
                    <label>Imię*: </label>
                    <input title="Imię" name="firstName" maxlength="25" class="form-control"
                           ng-model="svCtrl.visit.patient.firstName" ng-minlength="3" required>
                    <div ng-if="details.firstName.$touched && details.firstName.$invalid" class="alert alert-danger">
                        Pole musi zawierac conajmniej 3 znaki.
                    </div>
                </div>
                <div class="form-group">
                    <label>Nazwisko*:</label>
                    <input title="Nazwisko" name="lastName" maxlength="30" class="form-control"
                           ng-model="svCtrl.visit.patient.lastName" ng-minlength="3" required>
                    <div ng-if="details.phoneNumber.$touched && details.lastName.$invalid" class="alert alert-danger">
                        Pole musi zawierac conajmniej 3 znaki.
                    </div>
                </div>
                <div class="form-group">
                    <label> Number telefonu:</label>
                    <input title="Numer telefonu" name="phoneNumber" maxlength="15" class="form-control"
                           ng-model="svCtrl.visit.patient.phoneNumber">
                    <div ng-if="details.phoneNumber.$touched && details.phoneNumber.$invalid"
                         class="alert alert-danger">
                        Nieprawidłowy numer telefonu.
                    </div>
                </div>
                <div class="form-group">
                    <label for="dentalServices">Wybierz Usługe</label>
                    <select class="form-control" id="dentalServices" ng-model="svCtrl.visit.dentalService"
                            ng-options="dentalService for dentalService in svCtrl.dentalServices">
                    </select>
                </div>
                <div class="form-group">
                    <label>Dodatkowe informacje:</label>
                    <textarea title="Opis" class="form-control" rows="5" maxlength="400"
                              ng-model="svCtrl.visit.description"></textarea>
                </div>
                <div class="row text-center">
                    <button class="btn btn-primary">Potwierdź</button>
                    <button class="btn btn-danger" ng-click="svCtrl.cancelEdit()">Anuluj</button>
                </div>
            </form>
        </div>
    </div>
</div>
